In [3]:
# Use tqdm

from tqdm import tqdm

for i in tqdm(range(100)):
	pass

100%|██████████| 100/100 [00:00<00:00, 1547713.65it/s]

In [ ]:
# For each folder inside "../data/segmented", copies the images in the folder to "../data/all_procesed_images"

import os
import shutil

source_dir = "../data/raw_images/segmented"
target_dir = "../data/raw_images/all_processed_images"

if not os.path.exists(target_dir):
	os.makedirs(target_dir)

for folder in tqdm(os.listdir(source_dir)):
	folder_path = os.path.join(source_dir, folder)
	
	if os.path.isdir(folder_path):
		for image in os.listdir(folder_path):
			image_path = os.path.join(folder_path, image)
			shutil.copy(image_path, target_dir)

100%|██████████| 13471/13471 [02:30<00:00, 89.22it/s]

In [ ]:
# copy all files from '../data/resized' to '../data/all_processed_images'

source_dir = "../data/raw_images/resized"
target_dir = "../data/raw_images/all_processed_images"

for image in tqdm(os.listdir(source_dir)):
	image_path = os.path.join(source_dir, image)
	shutil.copy(image_path, target_dir)

100%|██████████| 16296/16296 [00:17<00:00, 905.64it/s]

In [ ]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('../data/cloth_dataset/aarong_dataset_clean_final.csv')

# Display the first few rows of the DataFrame
df.sample(5)

,product_id,annotated_image_name,fabric_types_clean,wear_types_clean,colors_clean,textures_clean,value_additions_clean
2459,7820,0460000029714.jpg,Voile,Nightwear,"red,white","tie dye,embroidery",lace
2169,6955,0570000124625.jpg,Cotton,Panjabi,"brown,black",block print,NaN
1864,7457,0410000100429_2.jpg,Cotton,Coats & Jackets,blue,tie dye,NaN
2430,2849,1420000162323_1.jpg,Viscose Blend,Shalwar Kameez,"red,black,blue","dobby,embroidery,printed",NaN
898,2043,0560000060443_2.jpg,Silk,Saree,"orange,green,golden",NaN,NaN

In [5]:
import os
import shutil
from tqdm import tqdm

# take the annotated_image_name as filename, then copy the file from '../data/raw_images/all_processed_images' to '../data/cloth_dataset/images'

source_dir = "../data/raw_images/all_processed_images"
target_dir = "../data/cloth_dataset/images"


for index, row in tqdm(df.iterrows(), total=df.shape[0]):
	# Get the filename from the DataFrame
	filename = row['annotated_image_name']
	
	# Construct the full path to the source file
	source_file = os.path.join(source_dir, filename)
	
	# Check if the file exists before copying
	if os.path.exists(source_file):
		shutil.copy(source_file, target_dir)
	else:
		print(f"File {source_file} does not exist.")

100%|██████████| 3301/3301 [00:04<00:00, 792.75it/s]